<template>
  <div
    v-click-outside="closeDropDown"
    :class="['dropdown', { open: isOpen }]"
    @click="toggleDropDown"
  >
    <slot name="title">
      <a
        class="dropdown-toggle"
        data-toggle="dropdown"
        href="javascript:void(0)"
      >
        <i :class="icon"></i>
        <p class="notification">
          {{ title }}
          <b class="caret"></b>
        </p>
      </a>
    </slot>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "DropDown",

  props: {
    title: {
      type: String,
      default: "",
    },

    icon: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      isOpen: false,
    };
  },

  methods: {
    toggleDropDown() {
      this.isOpen = !this.isOpen;
    },

    closeDropDown() {
      this.isOpen = false;
    },
  },
};
</script>
