<template>
  <div class="contacts">
    <div v-if="showContacts">
      <LazyChatContact
        v-for="(contact, i) in contacts"
        :key="i"
        :contact-active="activeContact"
        :contact="contact"
        @set-active-chat="setActiveContact"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contacts: [
        {
          id: 1,
          firstname: "Firstname",
          lastname: "LastName",
        },
        {
          id: 2,
          firstname: "Firstname",
          lastname: "LastName",
        },
      ],
      activeContact: {},
    }
  },

  computed: {
    showContacts() {
      return this.contacts?.length;
    },
  },

  methods: {
    setActiveContact(e) {
      console.log(e);
      this.activeContact = e;
      this.$emit("set-active-contact", e);
    }
  }
};
</script>

<style lang="scss" scoped>
.contacts {
  width: 100%;
}
</style>
