<template>
  <div
    v-if="contact.id"
    :class="[
      'room',
      'mb2',
      'd-flex',
      {
        'room-active':
          contact.id === contactActive.id,
      },
    ]"
  >
    <div class="room-content" @click="chooseContact()">
      <div class="user-avatar">
        <div class="user-avatar-wrap">
        </div>
      </div>

      <div class="user-info">
        <p class="user-name">
          <template v-if="contact.firstname || contact.lastname">
            {{ `${contact.firstname} ${contact.lastname}` }}
          </template>
          <template v-else>Не указано</template>
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    contact: {
      type: Object,
      default: () => ({}),
    },

    contactActive: {
      type: Object,
      default: () => ({}),
    }
  },

  methods: {
    chooseContact() {
      this.$emit("set-active-chat", this.contact);
    },
  },
};
</script>

<style lang="scss">
.room {
  padding: 10px;
  border-radius: 3px;
  margin: 0 8px 10px 0;
  cursor: pointer;
  background-color: #f7f7f7;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-active {
    position: relative;
    background-color: #e4f7ff;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #26abe1;
    }
  }

  .room-content {
    width: 100%;
    display: flex;
  }

  .user-avatar {
    position: relative;
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  .user-avatar-wrap {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
  }

  .user-avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.no-avatar {
      display: block;
      width: 50%;
      height: auto;
      object-position: center;
    }
  }

  .user-status {
    width: 10px;
    height: 10px;
    background-color: #bdbdbd;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 2px;

    &.online {
      background-color: green;
    }
  }
}
</style>
