<template>
  <div class="main page-wrapper">
    <div class="main__image">
      <img src="@/assets/images/appfox-logo.jpg" alt="appfox-logo">
    </div>
    <Chat />
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.main {
  justify-content: center;
  align-items: center;

  &__image {
    img {
      height: 500px;
    }
  }
}
</style>
