<template>
  <div class="md-layout admins-wrap">
    <div
      class="
        admins
        md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100
      "
    >
      <div class="admins-navbar">
        <md-tabs md-sync-route>
          <md-tab
            id="tab-admins-list"
            md-label="Список пользователей"
            to="/users/list"
            exact
          />
          <md-tab
            id="tab-admins-add"
            md-label="Добавить пользователя"
            to="/users/add"
          />
        </md-tabs>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
.admins-wrap {
  padding-top: 40px;
}

.admins-navbar {
  margin-bottom: 20px;

  &::v-deep {
    .md-tabs-navigation {
      background-color: #58b05c !important;
      padding: 20px;
    }
  }
}
</style>
