<template>
  <div class="md-layout">
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
    >
      <md-card>
        <md-card-header data-background-color="blue" class="card-header">
          <div class="card-header-info">
            <h4 class="title">Настройка доступов</h4>
          </div>
          <div class="md-layout-item md-large-size-25 md-xlarge-size-25">
            <md-field>
              <label style="color: #FFFFFF !important;">Поиск</label>
              <md-input />
            </md-field>
          </div>
        </md-card-header>
        <md-card-content>
          <UsersTable />
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import UsersTable from "@/components/Tables/UsersTable";

export default {
  components: {
    UsersTable,
  },
}
</script>

<style lang="scss" scoped>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
