<template>
  <header class="header w-100">
    <span class="title-1">Header</span>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss" scoped>
.header {
  background: black;
  padding: 20px;
  color: $white-color;
  text-align: center;
}
</style>
