<template>
  <div>
    <div class="position-table">
      <md-table v-model="users">
        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="ID" md-sort-by="id">
            <span>{{ item.id }}</span>
          </md-table-cell>
          <md-table-cell md-label="Логин">
            <span class="text">{{ item.login }}</span>
          </md-table-cell>
          <md-table-cell md-label="Имя">
            <span>{{ item.name }}</span>
          </md-table-cell>
          <md-table-cell md-label="E-mail">
            <span>{{ item.email }}</span>
          </md-table-cell>
          <md-table-cell md-label="Доступ">
            <span>{{ item.role }}</span>
          </md-table-cell>
          <md-table-cell md-label="Статус">
            <span>{{ item.status }}</span>
          </md-table-cell>
          <!-- кнопки -->
          <md-table-cell>
            <div class="edit-and-delete-block">
              <md-button
                class="md-just-icon md-simple md-primary"
                :to="`/users/${item.id}/`"
              >
                <md-icon>edit</md-icon>
                <md-tooltip md-direction="top">Редактировать</md-tooltip>
              </md-button>
            </div>
          </md-table-cell>
        </md-table-row>
      </md-table>
      <Pagination
        :current-page="1"
        :last-page="2"
      />
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";
import Pagination from "@/components/ui/Pagination";

export default {
  components: {
    Pagination
  },

  computed: {
    ...mapState({
      users: state => state.users.users,
    })
  }
};
</script>

<style lang="scss" scoped>
.text {
  word-break: break-word;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages {
  margin-right: 20px;
  margin-left: 20px;
}
</style>
