/* Компонент авторизации без дизайна и валидаций */
<template>
  <div>
    <input
      v-model="login"
      type="text"
    >
    <input
      v-model="password"
      type="text"
    >
    <button @click="submitAuthForm">Submit</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login: "",
      password: "",
    }
  },

  methods: {
    async submitAuthForm() {
      try {
        await this.$auth.loginWith("local", {
          data: {
            login: this.login,
            password: this.password,
          },
        })
      } catch (e) {
        console.error(e);
      }
    }
  }
}
</script>
