<template>
  <div
    v-if="lastPage > 0"
    class="pagination w-100"
  >
    <b-button
      :disabled="currentPage <= 1"
      variant="primary"
      @click="$emit('change-page', currentPage - 1)"
    >
      <span>Prev</span>
    </b-button>
    <div class="pages">
      <span>{{ currentPage }} / {{ lastPage }}</span>
    </div>
    <b-button
      :disabled="currentPage === lastPage"
      variant="primary"
      @click="$emit('change-page', currentPage + 1)"
    >
      <span>Next</span>
    </b-button>
    <div
      v-if="withSearch"
      class="page-search"
    >
      <b-form-input v-model="searchPage" />
      <b-button
        variant="primary"
        @click="search"
      >
        Show page
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    currentPage: {
      type: Number,
      default: 1,
    },
    lastPage: {
      type: Number,
      default: 1,
    },
    withSearch: {
      type: Boolean,
      default: true,
    }
  },

  data() {
    return {
      searchPage: "",
    }
  },

  methods: {
    search() {
      const page = this.searchPage <= this.lastPage ? this.searchPage : this.lastPage;
      this.searchPage = page < 1 ? 1 : page;
      this.$emit('change-page', this.searchPage)
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages {
  margin: 0 20px;
}
.page-search {
  position: absolute;
  display: flex;
  right: 25px;
  align-items: center;

  input {
    background: $white-color;
    margin-right: 20px;
  }

  button {
    min-width: 130px;
  }
}
</style>
