<template>
  <transition name="modal-fade">
    <div ref="modal" class="modal-backdrop" @click="clickOutside">
      <div class="modal" role="dialog">
        <div class="btn-close" @click="close">
          <md-icon>close</md-icon>
        </div>
        <div class="editor-wrap">
          <QuillEditor
            ref="editor"
            v-model="content"
            :options="editorOption"
            @ready="onEditorReady($event)"
          />
        </div>

        <div class="buttons-wrap">
          <md-button class="md-raised md-success" @click="saveText">
            Сохранить
          </md-button>
          <md-button class="md-raised md-danger" @click="close">
            Отменить
          </md-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { quillEditor } from "vue-quill-editor";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

export default {
  components: {
    QuillEditor: quillEditor,
  },

  props: {
    initText: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      content: "",
      editorOption: {
        // Some Quill options...
        theme: "snow",
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"], // toggled buttons
            ["blockquote", "code-block", "link"],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }], // superscript/subscript
            [{ indent: "-1" }, { indent: "+1" }], // outdent/indent

            [{ size: ["small", false, "large", "huge"] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],

            // [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            // [{ font: [] }],
            [{ align: [] }],

            ["clean"], // remove formatting button
          ],
        },
      },
    };
  },

  mounted() {
    this.content = this.initText;
  },

  methods: {
    clickOutside(e) {
      if (e.target.classList.contains("modal-backdrop")) {
        this.$emit("close");
      }
    },

    close() {
      this.$emit("close");
    },

    saveText() {
      this.$emit("save", this.content);
    },

    onEditorReady(editor) {
      editor.focus();
    },
  },
};
</script>

<style lang="scss" scoped>
.modal-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10001;

  .modal {
    position: relative;
    width: 800px;
    height: 400px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::v-deep {
      .quill-editor {
        flex: 0 0 70%;
      }
    }
  }

  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #c4c4c4;
  }
}

.editor-wrap {
  height: calc(100% - 62px);
  max-height: calc(100% - 62px);

  &::v-deep {
    .quill-editor {
      height: calc(100% - 66px);
      max-height: calc(100% - 66px);
    }
  }
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

</style>
